In [6]:
import pandas as pd
tabla_nombres = "tablasALL.txt"

tablas = pd.read_csv(tabla_nombres)

In [7]:
tablas

                               TABLAS
0                       banjercito.cs
1                 c_avance_de_obra.cs
2                          c_clima.cs
3    c_derechohabiente_presidencia.cs
4                c_destino_credito.cs
..                                ...
150            reporte_presidencia.cs
151                            shf.cs
152                       sisevive.cs
153                   sisevive_ruv.cs
154          subprograma_fovissste.cs

[155 rows x 1 columns]

In [20]:
tablas['CONTEXT'] = tablas.apply(lambda x: 'public DbSet<'+ x["TABLAS"].split('.')[0]+'> '+ x["TABLAS"].split('.')[0] + ' {get; set;}' ,axis=1)

In [15]:
tablas

,TABLAS,CONTEXT
0,banjercito.cs,public Dbset<banjercito> banjercito {get; set;}\n
1,c_avance_de_obra.cs,public Dbset<c_avance_de_obra> c_avance_de_obr...
2,c_clima.cs,public Dbset<c_clima> c_clima {get; set;}\n
3,c_derechohabiente_presidencia.cs,public Dbset<c_derechohabiente_presidencia> c_...
4,c_destino_credito.cs,public Dbset<c_destino_credito> c_destino_cred...
...,...,...
150,reporte_presidencia.cs,public Dbset<reporte_presidencia> reporte_pres...
151,shf.cs,public Dbset<shf> shf {get; set;}\n
152,sisevive.cs,public Dbset<sisevive> sisevive {get; set;}\n
153,sisevive_ruv.cs,public Dbset<sisevive_ruv> sisevive_ruv {get; ...
154,subprograma_fovissste.cs,public Dbset<subprograma_fovissste> subprogram...

In [21]:
tablas.to_csv('dbcontext.csv',index = False,columns=['CONTEXT'])